C:/Users/Juan Pablo/OneDrive/Documentos/GitHub/Analisis-Descriptivo-de-la-Poblacion-Carcelaria-Mexicana/Main/.Rproj.user/shared/notebooks/9BF15CAD-Agrupamiento/1/s/ckz5cyl1qrvg5